
// Main Lobby area
.lobbyArea {
	width: 100%;
	max-width: 1200px;
	height: calc(100% - #{$headerHeightPx});
	position: relative;
	margin: 0 auto!important;
	overflow: visible!important;
}

.lobbyPage{
	min-height: unset!important;
	position: relative!important;
}

.lobby-content{
	height: calc(100vh - #{$headerHeightPx});
	padding: 0;
}

	
// Lobby - Game list
.lobbyGameList{
	display: none;
	padding: 16px 32px;
}

.gameListHeader{
	display: flex;
	flex-direction: row;
	margin: 10px 0 10px 0;
	padding: 10px 12px 10px 40px;
	background: $light-gray;
	.col_gameDesc{
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 30%;
		max-width: 30%;
		text-align: center;
		font-weight: 700;
	}
	.col_numberOfPlayers,
	.col_gameMode,
	.col_gameType,
	.col_gamePrivate,
	.col_gameSpectators,
	.col_gameTimeouts{
		flex-basis: 80px;
		text-align: center;
		font-weight: 700;
	}
	.col_numberOfPlayers{
		margin-left: auto;
	}
	.col_gameMode,
	.col_gameType,
	.col_gamePrivate,
	.col_gameSpectators{
		margin: 0 2%;
	}

}
.gameListCollapsible {
	padding:0!important;
	box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
	border-radius: 5px!important;
	margin-bottom: 16px!important;
	background: $light-gray;
	border:none;
	overflow: hidden;
	&:hover{
		background: $gray;
		box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.16), 0 1px 3px 1px rgba(66, 66, 66, 0.32);
	}

	a.ui-collapsible-heading-toggle{
		background: none;
		border: none;
		color: $black;
		text-shadow: 0 1px 0 $white;
	}

	a.ui-collapsible-heading-toggle > .ui-btn-inner > .ui-btn-text{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.lobbyGameList_gameDesc{
			display: flex;
			align-items: center;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 30%;
			max-width: 30%;
			white-space: break-spaces;
			word-break: break-word;
		}
		.lobbyGameList_numberOfPlayers,
		.lobbyGameList_gameMode,
		.lobbyGameList_gameType,
		.lobbyGameList_gamePrivate,
		.lobbyGameList_gameSpectators,
		.lobbyGameList_gameTimeouts{
			display: flex;
			flex-basis: 80px;
			align-items: center;
			justify-content: center;
			font-weight: normal;
			
		}
		.lobbyGameList_gameDesc,
		.lobbyGameList_numberOfPlayers,
		.lobbyGameList_gameTimeouts{
			padding: 5px 0;
		}

		.lobbyGameList_numberOfPlayers{
			margin-left: auto;
		}
		.lobbyGameList_gameMode,
		.lobbyGameList_gameType,
		.lobbyGameList_gamePrivate,
		.lobbyGameList_gameSpectators{
			margin: 0 2%;
		}
		#lobbyGameList_gameSpectators_img{
			margin-right: 8px;
		}

	}

}



.lobbyGameList_spectateButton {
	color: green;
	font-weight: bolder;
	font-size-adjust: 1;
}

#lobbyGameList_playerAvatar {
	margin:0px;
	padding-top:1px;
	padding-left:0px;
	padding-bottom:0px;
}

#lobbyGameList_playerName {
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
}

// Lobby - Player list
.lobbyPlayerList{
	display: none;
	padding: 16px 32px;
	&>form{
		background: transparent;
		margin: 8px 0 24px 0;
	}
	&>.ui-listview{
		margin: 0;
	}
}

.ui-listview-filter > .ui-input-search.ui-focus{
	box-shadow: none;
	border: 1px solid rgb(133, 133, 133);
}

.lobbyPlayerList-playerItem {
	height: 70px;
	padding:0!important;
	box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
	border-radius: 5px!important;
	margin-bottom: 16px;
	border:none;
	overflow: hidden;
	&:hover{
		background: $gray;
		box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.16), 0 1px 3px 1px rgba(66, 66, 66, 0.32);
	}
}

.lobbyPlayerList-playerAvatarDiv {
	float:left;
	height: 51px;
	width: 50px;
	margin: 0 !important;
	padding: 10px;
}

.lobbyPlayerList-playerAvatar {
	width: 50px;
	height: 50px;
	margin: 0 !important;
}

.lobbyPlayerList-playerNameGameInfosDiv {
	float:left;
	padding: 10px 15px !important;
	margin: 0 !important;
}

.lobbyPlayerList-spectatorButtonDiv{
	height: 100%;
}

.lobbyPlayerList-spectatorButtonDiv > a{ 
	height: 100%;
	line-height: 3;
	background: none;
	margin: 0 !important;
	border: none;
	box-shadow: none;
	&:focus{
		box-shadow: none;
	}
	&> span{
	border:none;
	text-align: right;
		.ui-icon{
			display: none;
		}
	}
}
.lobbyPlayerList_spectatorButton {
	margin: 3px 7px 0 0 !important;
}

// Lobby - Chat
.lobbyChat {
	display: none;
	padding: 16px 32px;
	height: calc(100% - 32px);
}

#chatTextArea{
	background: $white;
	border: 1px solid $gray;
	box-sizing: border-box;
	padding: 16px!important;
	height: 100%!important;
	min-height: 200px;
}

#lobby_chat_text {
	font-size: 18px;
}

#game_chat_text{
	line-height: 1.4rem;
}
