body {
	background: #393939;
	background-image: url('../gfx/body_bg.png');
	background: url('../gfx/body_bg.png') center center repeat , linear-gradient(0deg, rgba(28,30,33,1) 0%, rgba(59,63,69,1) 100%);
}


