// Structure
$headerHeight: 155;
$headerHeightPx: $headerHeight + px;
$headerNav: 40;

// Font



// Colors
$dark-gray: #393939;
$gray: #CCCCCC;
$light-gray: #EEEEEE;
$white: #FFFFFF;
$black: #000000;


// Spacing (rem)



// Breakpoints
$screenFullHD: 1920px;
$screenLarge: 1280px;
$screenMedium: 960px;
$screenSmall: 768px;
$screenTiny: 480px;
