/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #393939;
  background-image: url("../gfx/body_bg.png");
  background: url("../gfx/body_bg.png") center center repeat, linear-gradient(0deg, #1c1e21 0%, #3b3f45 100%);
}

#lobbyArea {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0 auto !important;
}

#lobby-header-container {
  min-height: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

#lobby-user-loggedIn {
  text-align: left;
  padding: 12px 0 8px 0;
  width: 20%;
  float: left;
  font-weight: bold;
  font-size: 12px;
}

#lobby-header {
  text-align: center;
  color: gold;
  width: 60%;
  float: left;
  font-weight: bold;
  margin: 10px 0;
}

#lobby-version-info {
  text-align: right;
  padding: 12px 0 8px 0;
  width: 20%;
  float: left;
  font-style: italic;
  font-size: 12px;
}

.lobbyNavbarButtons {
  padding: 10px 0 10px 0;
}

#lobbyGameList_gameDesc {
  width: 300px;
  float: left;
  height: 26px;
}

.lobbyGameList_numberOfPlayers {
  height: 26px;
  width: 60px;
  float: left;
  border-left: solid 1px black;
  text-align: center;
}

.lobbyGameList_gameMode {
  height: 26px;
  width: 40px;
  float: left;
  border-left: solid 1px black;
  text-align: center;
}

#lobbyGameList_gameType {
  height: 26px;
  width: 40px;
  float: left;
  border-left: solid 1px black;
  text-align: center;
}

#lobbyGameList_gamePrivate {
  height: 26px;
  width: 40px;
  float: left;
  border-left: solid 1px black;
  text-align: center;
}

#lobbyGameList_gameSpectators {
  height: 26px;
  width: 60px;
  float: left;
  border-left: solid 1px black;
  text-align: left;
  padding: 0 0 0 8px;
  vertical-align: top;
}

#lobbyGameList_gameSpectators_img {
  margin-top: -2px;
}

.lobbyGameList_gameNumberOfSpectators {
  height: 26px;
  vertical-align: top;
  margin: 0 0 0 8px;
}

#lobbyGameList_gameTimeouts {
  height: 26px;
  width: 80px;
  float: left;
  border-left: solid 1px black;
  text-align: center;
}

.lobbyGameList_spectateButton {
  color: green;
  font-weight: bolder;
  font-size-adjust: 1;
}

#lobbyGameList_playerAvatar {
  margin: 0px;
  padding-top: 1px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#lobbyGameList_playerName {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.lobbyPlayerList-playerItem {
  min-height: 51px !important;
  max-height: 51px !important;
  height: 51px;
  margin: 0 !important;
  padding: 0 !important;
}

.lobbyPlayerList-playerAvatar {
  width: 50px;
  height: 50px;
  margin: 0 0 1px 1px !important;
}

.lobbyPlayerList-playerName {
  margin: 5px 0;
  padding: 0;
}

.lobbyPlayerList-playerAvatarDiv {
  float: left;
  height: 51px;
  width: 50px;
  margin: 0 !important;
  padding: 0 !important;
}

.lobbyPlayerList-playerNameGameInfosDiv {
  float: left;
  height: 50px;
  padding: 0 10px 0 15px !important;
  margin: 0 !important;
}

.lobbyPlayerList-spectatorButtonDiv {
  float: right;
  height: 50px;
  padding: 0 !important;
}

.lobbyPlayerList_spectatorButton {
  margin: 3px 7px 0 0 !important;
}

#lobby_chat_text {
  font-size: 18px;
}

#lobbyChat {
  padding: 0px;
}

#gameArea {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0 auto !important;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#gameCanvas2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

#gameCanvas3 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}

#gameCanvas4 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
}

#gameCanvas5 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
}

#gameCanvas6 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 6;
}

#gameCanvas7 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 7;
}

#table-user-loggedIn {
  font-family: sans-serif;
  text-align: left;
  padding: 5 0 0 0;
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
  font-size: 12px;
  z-index: 15;
}

#table-chat-textArea {
  position: absolute;
  z-index: 1000;
  font-color: white;
  color: white;
  background-color: #0A132B;
  overflow-y: scroll;
  border: 2px solid #021A7D;
}